# Build output
bin/
obj/

# VS files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# JetBrains Rider
.idea/
*.sln.iml

# dotnet tools
.config/

# OS files
Thumbs.db
.DS_Store

# Temp / backup
*.bak
